
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Inicio</h2>
<div class="row">

    <div class="col-md-4 col-lg-offset-0 jumbotron">
        <a href="@Url.Action("AlumnoNuevo","Admin")">Nuevo Alumno</a>
    </div>
    <div class="col-md-4 col-lg-offset-0 jumbotron">
        <a href="@Url.Action("CarreraNueva","Admin")">Nueva Carrera</a>
    </div>
    <div class="col-md-4 col-lg-offset-0 jumbotron">
        <a href="@Url.Action("ComisionNueva","Admin")">Nueva Comisión</a>
    </div>
    <div class="col-md-4 col-lg-offset-0 jumbotron">
        <a href="@Url.Action("DocenteNuevo","Admin")">Nuevo Docente</a>
    </div>
    <div class="col-md-4 col-lg-offset-0 jumbotron">
        <a href="@Url.Action("InstitutoNuevo","Admin")">Nuevo Instituto</a>
    </div>
    <div class="col-md-4 col-lg-offset-0 jumbotron">
        <a href="@Url.Action("MateriaNueva","Admin")">Nueva Materia</a>
    </div>
    <div class="col-md-4 col-lg-offset-0 jumbotron">
        <a href="@Url.Action("BorrarAlumno","Admin")">Eliminar Alumno</a>
    </div>
    <div class="col-md-4 col-lg-offset-0 jumbotron">
        <a href="@Url.Action("BorrarCarrera","Admin")">Eliminar Carrera</a>
    </div>
    <div class="col-md-4 col-lg-offset-0 jumbotron">
        <a href="@Url.Action("BorrarComision","Admin")">Eliminar Comisión</a>
    </div>
    <div class="col-md-4 col-lg-offset-0 jumbotron">
        <a href="@Url.Action("BorrarDocente","Admin")">Eliminar Docente</a>
    </div>
    <div class="col-md-4 col-lg-offset-0 jumbotron">
        <a href="@Url.Action("BorrarInstituto","Admin")">Eliminar Instituto</a>
    </div>
    <div class="col-md-4 col-lg-offset-0 jumbotron">
        <a href="@Url.Action("BorrarMateria","Admin")">Eliminar Materia</a>
    </div>
</div>



