
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <img src="http://www.gwcpics.com/images/abstract/black-red-line-light.jpg" height="100" width="1366">

    <div class="row menu">

        <div id="menu" class="col-md-6 col-md-offset-0 col-xs-4 col-xs-offset-2">

            <ul class="nav navbar-nav navbar-left menu" id="menu1">


                <li class="dropdown" id="inscripcion">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span id="peli">Inscripción</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="Películas/Comedia.html">Inscripción a materias</a></li>
                        <li><a href="Películas/Drama.html">Inscripción a examenes</a></li>
                        <li><a href="Películas/Thrillers.html">Inscripción a prácticas</a></li>

                    </ul>
                </li>
                <li class="dropdown" id="reportes">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span id="juego">Reportes</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="Juegos/PS2.html">Historia Académica</a></li>
                        <li><a href="Juegos/PS3.html">Mis inscripciones</a></li>
                        <li><a href="Juegos/PC.html">Inasistencias</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="tramites">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span id="juego">Trámites</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="Series/Drama.html">Datos personales</a></li>
                        <li><a href="Series/Policiales.html">Solicitud de título</a></li>
                        <li><a href="Series/Anime.html">Solicitud de constancias y certificados</a></li>
                    </ul>
                </li>
            </ul>
            <div>
                @RenderBody()
                <footer>

                    @DateTime.Now.Year - Siu Guaraní UNRP
                </footer>
            </div>
        </div>
        </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>