<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <img src="http://www.gwcpics.com/images/abstract/black-red-line-light.jpg" height="100" width="1366">

    <div class="row menu">
        <div id="menu1" class="col col-md-2 col-md-offset-0 col-xs-4 col-xs-offset-2">


        </div>
        <div id="menu2" class="col-md-6 col-md-offset-0 col-xs-4 col-xs-offset-2">

            <ul class="nav navbar-nav navbar-left menu" id="navegation">


                <li class="dropdown" id="inscripcion">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span id="peli">Inscripción</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("InscripcionMaterias","Alumnos")">Inscripción a materias</a></li>
                        <li><a href="@Url.Action("InscripcionExamenes","Alumnos")">Inscripción a examenes</a></li>
                        <li><a href="@Url.Action("InscripcionPracticas","Alumnos")">Inscripción a prácticas</a></li>

                    </ul>
                </li>
                <li class="dropdown" id="reportes">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span id="juego">Reportes</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("HistoriaAcademica","Alumnos")">Historia Académica</a></li>
                        <li><a href="@Url.Action("InscripcionesActuales","Alumnos")">Mis inscripciones</a></li>
                        <li><a href="@Url.Action("Inasistencias","Alumnos")">Inasistencias</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="tramites">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span id="juego">Trámites</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("DatosPersonales","Alumnos")">Datos personales</a></li>
                        <li><a href="@Url.Action("SolicitudTitulo","Alumnos")">Solicitud de título</a></li>
                        <li><a href="@Url.Action("SolicitudConstancias","Alumnos")">Solicitud de constancias y certificados</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-4 col-md-offset-0 col-xs-4 col-xs-offset-2">
            <ul class="nav navbar-nav navbar-right config" id="menu2">
                <li><a href="@Url.Action("Index","Alumnos")">Inicio</a></li>
                <li class="dropdown" id="menuUsuario">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span id="nomUsuario">@ViewBag.alumno</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Perfil","Alumno")">Mi Perfil</a></li>
                        <li><a href="@Url.Action("Configuracion","Alumno")">Configuración</a></li>
                        <li><a href="@Url.Action("Privacidad","Alumno")">Privacidad</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="@Url.Action("Index","Home")">Cerrar sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="body-content">
        @RenderBody()

    </div>
    <hr />

    <footer>
        <span>&copy; @DateTime.Now.Year - Siu Guaraní UNRP</span>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
